<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="nu.yona.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name=".YonaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appname"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="net.hockeyapp.android.appIdentifier"
            android:value="${HOCKEYAPP_APP_ID}" />

        <activity
            android:name=".ui.LaunchActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.signup.SignupActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.tour.YonaCarrouselActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"></activity>


        <activity
            android:name=".ui.YonaActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"></activity>

        <activity
            android:name=".ui.pincode.PasscodeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.signup.OTPActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.pincode.PinActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.login.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <service
            android:name=".api.service.YonaVpnService"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>

        <service
            android:name=".api.service.ActivityMonitorService"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/service_name" />

        <receiver android:name=".api.receiver.YonaReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_ON" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_OFF" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
